<%- include('../header.ejs')%>
<div class="container mt-5">
  <h1 class="text-center pt-5">Your Course's</h1>
  <% if(msg.length>0){%>
  <div class="alert alert-success">
    <center><%=msg%></center>
  </div>
  <%}%>

  <table class="table">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>DOB</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <%d.forEach((item)=>{%>

    <tr>
      <td><%=item._id%></td>
      <td><%=item.name%></td>
      <td><%=item.email%></td>
      <td><%=item.phone%></td>
      <td><%=item.dob%></td>
      <td><%=item.status%></td>
      <td>
        <a href="/collage_View/<%=item._id%>" class="btn btn-info"
          ><i class="fa-regular fa-eye"></i
        ></a>
        <a href="/collage_edit/<%=item._id%>" class="btn btn-success"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <a href="/collage_delete/<%=item._id%>" class="btn btn-danger">
          <i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
    <%})%>
  </table>
  <a href="../dashboard"
    ><button class="btn btn-success text-center">Back To Home</button></a
  >
</div>
<%- include('../footer.ejs')%>
